
.navbar {
  margin-bottom: 0;
  border: 0px solid transparent;
}


.navbar-brand {
  font-size: 35px;
}

.navbar-custom {
  background-color: rgb(11, 20, 28);
  height: 60px;
}

.navbar-custom ul li a {
  color: white;
}

.home-banner {
  color: white;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/charles-sipe/header.jpg");
  background-repeat:no-repeat;
  background-size: 100%;
  margin: 0;
  position: relative;
}

@media (max-width: 1000px){
  .home-banner{
    display: none;
  }
}

.home-banner-2 {
  background-color: rgb(11, 20, 28);
  color: white;
}

.main-button {
  background-color: rgb(26, 188, 156);
  border-color: rgb(26, 188, 156);
  color: white;
}

.circle {
    display: block;
    width: 140px;
    height: 140px;
    float: right;
    margin: .25em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.footer-custom {
  background-color: rgb(11, 20, 28);
  color: white;
}
